{% extends 'base.html' %}

{% block content %}


	<h3>{{ single_post.title }}</h3>
	<p>{{ single_post.text }}</p>
	</br>


<h1>COMMENTS:</h1>
</br>
</br>

<form id="postcomment" method="post" action=""> 
	{% csrf_token %}
	<textarea name="comment"></textarea> 
	<input type="hidden" name="parent_id" value=""> 
	<input type="submit" value="Add comment"> 
</form>

<hr/>
 
{% load mptt_tags %} 
{% recursetree comments %} 
	<div id="commentter" class="c" style="margin-left: {{ node.get_level }}0px">  
		{# comment #} 
		<b>Comment:</b><br /> 
		{{ node.comment|linebreaks }}  
		{# form to reply to this comment #} 

		<form method="post" action=""> 
			{% csrf_token %}
			<textarea name="comment" rows=1></textarea> 
			<input type="hidden" name="parent_id" value="{{ node.id }}"> 
			<input type="submit" value="Add comment"> 
		</form>

		{# <p><a href="" class="reply">reply</a></p>  #} 

	</div> 
	{# recursion! children of a given comment #} 
	{% if not node.is_leaf_node %} 
		{{ children }} 
	{% endif %} 
{% endrecursetree %}

{% endblock content %}
